.header {
  background-color: #ff6666;
  color: #fff;

  padding: 1.2rem 2.4rem;
  width: 100%;
  max-width: 1200px;
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
