.danger {
  background-color: #ff6666;
  color: #fff;
  border: 1px solid #ff6666;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.primary {
  background-color: #10a7ff;
  color: #fff;
  border: 1px solid #10a7ff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.roundDanger {
  position: absolute;
  top: 10px;
  right: 10px;

  padding: 0.8rem 1.4rem;
  border-radius: 100%;
  border-color: #000;
  background: none;
  color: rgb(140, 0, 0);
}
.roundDanger:hover {
  cursor: pointer;
  background-color: red;
  color: black;
}
