.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  width: 100dvw;
  height: 100dvh;

  padding: 1.6rem;
}

.mainContainer {
  height: 100%;
  width: 100%;
  max-width: 1200px;
}
