.imageContainer {
  position: relative;
}

.image {
  height: 256px;
  width: 256px;
  display: inline-block;
}

.imagesList {
  grid-row: 2/ 3;
  grid-column: 1 / 3;
  justify-self: center;

  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  max-height: 400px;
  overflow: auto;
  padding: 1.6rem;
}
